// Define variables for your color scheme

// One Breath Blue/Green Theme

$bg-blue: #11476E;
$button-green: #16BA89;
$timer-green: #1EFFBC;
$font-black: #000000;
$font-white: #FFFAF9;
$selectblue: #409D9B;
$light-gray: #F4F4F4;


// $bg-blue: #11476E;
// $button-green: #16BA89;
// $timer-green: #1EFFBC;
// $font-black: #000000;
// $font-white: #FFFAF9;
// $selectblue: #409D9B;
// $light-gray: #F4F4F4;

// One Breath Yellow/Brown Theme
$bg-yellow: #FAEAB4;
$button-yellow: #FAEAB4;
$timer-yellow: #FFD650;
$font-brown: #FFD650;
$font-black: #000000;
$font-white: #FFFAF9;
$light-gray: #F4F4F4;

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;


