


<h3>What are you doing during your break?</h3>

<%= simple_form_for [@timer_session, @break] do |f| %>
  <%= f.association :activity %>
  <%= f.button :submit, name: "timer_session_id", value: params[:timer_session] %>
<% end %>

