<%= @break.id %>

<h1>Enjoy your break!</h1>
<h2>want to implement a timer session here</h2>
<h2>link back to focus timer after this</h2>
<h3>@break.duration to call 00:00:00 format of break timer</h3>
<%= @break.id %>
