<div class="navbar">
  <div class="icons">
    <!-- Icons -->
    <%= link_to dash_path do %>
      <i class="fas fa-home"></i>
    <% end %>
    <%= link_to presets_path do %>
      <i class="far fa-clock"></i>
    <% end %>
     <%= link_to timer_sessions_path do %>
      <i class="fas fa-chart-line"></i>
    <% end %>
    <%= link_to destroy_user_session_path, :method => :delete do %>
      <i class="fas fa-sign-out-alt"></i>
    <% end %>
  </div>
</div>

