<div class="container-fluid text-center">

  <div class="row">
    <div class="col-sm">
      <h1>One Breath</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <h2>Plan your time, get your balance</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <h2>Change your life</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3 mx-auto">
      <p>
        Meditation is a age old technique from the sages of the Himalayas. These days people are stressed, I’m sure you are too, and you are looking for a way out. Using one breath is going to solve all your problems, even help you stop smoking crack on the weekends.
      </p>
    </div>
  </div>


  <div class="row">
    <div class="col-sm">
      <%= link_to "Start", root_path, :class=> "btn btn-primary resume" %>
    </div>
  </div>
</div>



