
<body class="homey">
  <div class="container-fluid text-center">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="title-box">
          <h1  style="color: #16BA89">One Breath Timer</h1>
          <h2  style="color: #16BA89; font-weight:normal;">Plan your time, get your balance</h2>
        </div>
      </div>
    </div>


  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="obcarousel">
      <%= render "slider" %>
    </div>
  </div>


    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="action-buttons-box">
        <%= link_to "I'm new", new_user_registration_path, :class=> "btn obbtn resume" %>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-md-offset-3 ">
      <div class="action-buttons-box">
        <%= link_to "Sign in", user_session_path, :class=> "btn obbtn rexit" %>
      </div>
    </div>
  </div>
</div>
</body>
