<div class="container-fluid text-center homey">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="title-box">
          <h1>One Breath Timer</h1>
          <%= image_tag("https://www.iconfinder.com/icons/1172812/clock_concentration_meditation_practice_relax_time_zen_icon") %>
          <!-- <h2>Plan your time, get your balance</h2> -->
        </div>
      </div>
    </div>


  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="obcarousel">
      <%= render "slider" %>
    </div>
  </div>


    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="action-buttons-box">
        <%= link_to "I'm new", new_user_registration_path, :class=> "btn obbtn resume" %>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-md-offset-3 ">
      <div class="action-buttons-box">
        <%= link_to "Sign in", user_session_path, :class=> "btn obbtn rexit" %>
      </div>
    </div>
  </div>
</div>


