<div class="container text-center">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="title-box">
        <h1>Welcome</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="sub-title-box">
        <p>hola loco</p>
      </div>
    </div>
  </div>

  <% @presets.each do |preset| %>
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="action-buttons-box">
     <%= link_to preset.name, preset_timer_sessions_path(preset), method: :post, :class=> "btn btn-primary resume"%>
   </div>
   <%= link_to 'delete', preset , method: :delete,
   data: { confirm: "Are you sure?" } %>
   || <%= link_to 'edit', edit_preset_path(preset)%>
 </div>
<% end %>

<div class="col-xs-12 col-md-6 col-md-offset-3">
  <div class="action-buttons-box">
    <%= link_to "+", new_preset_path, :class=> "btn btn-primary resume" %>
  </div>
</div>
</div>

<i class="fas fa-minus-circle"></i><i class="far fa-edit"></i>
