<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h2>Make a New Preset </h2>
      <div class="form-group">
        <%= render 'form' %>
        <%= link_to 'Define your breaks',  preset(@preset)_activities_path %>
      </div>
    </div>
  </div>
</div>


