// Table of Contents
// Links
// Headers and p
// Custom Classes
// Buttons Custom
// Timer
// Home Classes
// Content-Slider
// Statistics
// Avatars


html,body {
  height: 100vh;
}

// Links
a {
  font-color:$font-white;
}

// headers and p


h1 {
  font-size: 32px;
  font-weight: normal;
}

h2 {
  font-size: 24px;
  font-weight: normal;

}


p {
  font-size: 16px;
  font-weight: normal;
}

.h1title {
   margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.h2subtitle {
    margin-bottom: 38px;
    text-transform: uppercase;
    letter-spacing: 3px;

}

.h2bold {
  font-weight:normal;
  font-size: 22px;
}

.plight {
  font-weight:lighter;
}

.pshadow {
}
.pquote {
    /* letter-spacing: 1px; */
    // line-height: 30px;
    /* margin-bottom: 33px; */
    font-weight: normal;
    font-size: 14px;
    color: #ffffff3b;

}

.htransparent{
  background:rgba(1,1,1,0.5);
}



// Custom Classes
.title-box {
margin-top: 20px;
margin-bottom: 20px;
}

.sub-title-box {
margin-bottom: 20px;
}

.middle-content {
  margin-bottom: 40px;
  opacity: 0.9;
}
.presets-box {
  margin-bottom: 10px;
}


.action-buttons-box
{
  margin-bottom: 20px;
}

.white-container {
  background-color: white;
}


// Buttons

.obbtn {
border: 1 solid;
letter-spacing: 1px;
border-radius: 10px;
border: 1 solid;
letter-spacing: 1px;
// text-transform: uppercase;
border-radius: 30px;
background: $button-green;
color: $font-white;
}

.obbtn:hover {
opacity:0.8;
background: transparent;
color: $font-white;

}

.home-button {

}


.resume {
    width: 175px;
    height: 45px;
    text-transform: uppercase;
    padding: 12px;
    font-size: 16px;
    background-color: button-green;
    border-color: #16BA89;
    color: #FFFAF9;

}

.rexit {
  width: 175px;
    width: 175px;
    height: 45px;
    text-transform: uppercase;
    padding: 12px;
    height: 45px;
    font-size: 16px;
    background-color: transparent;
    border-color: #16BA89;
    color: #ffffff;

}

.sign-in {
  width: 175px;
  height:40px;
  font-size: 16px;
  background-color:$button-green;
  border-color: $button-green;
  color: $font-white;

}

.sign-in-fb {
  width: 175px;
  height:40px;
  font-size: 16px;
  color: #16BA89;
  background-color:transparent;
  border-color: $button-green;
  text-align: center;
  vertical-align: middle;

}

.flow-selected {
  width: 150px;
  height: 35px;
  font-size: 16px;
  background-color:$selectblue;
  border-color: $selectblue;

}

.flow-unselected {
  width: 150px;
  height:35px;
  background-color:transparent;
  border-color: $selectblue;
  color: $selectblue;
  font-size: 16px;
  margin: 15px 0px 15px 0px;
  &:hover {
    background-color:$selectblue;
    color: $font-white;
  }
}



.breakies {
  padding:0;
  background-color:transparent;

}


.no-list {
 list-style-type: none;
 list-style: none;

}

// Timer

.timerfont {
  margin:auto;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size: 40px;
  border: 5px solid;
  border-color:$timer-green;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.whiteicon {
  color: $font-white;
}
.whiteicon:hover {
  color: $timer-green;
}

.circlediv {
  border: 5px solid;
  border-color:$timer-green;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.travis {
  width: 200px;
}


.obopacity {
  opacity: 0.6;

}
.stats-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.time {

}

.time-stats {
  margin-top: 20px;

}

// Home
.homey {

  position: relative;
  background: asset-data-url("background_img.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.6;
  }
}


.home-fonts {
  color: black;
background-size: 100%;
margin-bottom:20px;

}

// Content-Slider
.obcarousel {
  background-opacity:0.5;
  margin-bottom:30px;

}

.carousel-control.right, .carousel-control.left {
  background-image:none;

}

.carousel-caption {
    top: 0;
    bottom: auto;
}
.img-carousel {
      opacity: 0.5;

}

// Statistics
.stats {
  height: 400px;
  width: 500px;
}

.time-spent {
  margin-top: 10px;
}
.stats-graph {

  opacity: 0.9;
  display: flex;
  height: 400px;
  width: 500px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.lifetime-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}


// Sliders
#name .form-control-label {
  font-weight: lighter;
}
#working_day .slider-selection {
  background: #00c48b;
}
#working_day .slider-track {
  background: #022E47;
}
#working_day .form-control-label {
  font-weight: lighter;
}
#working_day .slider-handle {
  background: #00c48b;
}
#break_duration .slider-selection {
  background: #00c48b;
}
#break_duration .slider-track {
  background: #022E47;
}
#break_duration .form-control-label {
  font-weight: lighter;
}
#break_duration .slider-handle {
  background: #00c48b;
}
#focus_timer .slider-track {
  background: #022E47;
}
#focus_timer .slider-selection {
  background: #00c48b;
}
#focus_timer .form-control-label {
  font-weight: lighter;
}
#focus_timer .slider-handle {
  background: #00c48b;
}

// Avatar
.obavatar {
  width: 30px;
  border-radius: 50%;
}
.obavatar-large {
  width: 50px;
  border-radius: 50%;
}
.obavatar-bordered {
  width: 30px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.obavatar-square {
  width: 30px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
